<h2>This is a page for Studpid Coaching</h2>

<form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn-sm btn-primary">
</form>
